# Local .terraform directories and files
**/.terraform/* #  все файлы и директории находящиеся в директории .terraform/,
.terraform*     # а также файлы начинающиеся с .terraform*

# .tfstate files
*.tfstate       # все файлы с разширением *.tfstate и
*.tfstate.*     # все подрасширения 

# own secret vars store.
personal.auto.tfvars   # конкретный файл 
